<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>

  <!-- PURE CSS -->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- TEMPLATES -->
  <script type="text/template" id="test">
  	<button>
  	</button>
  </script>

  <script type="text/template"></script>
  <script type="text/template"></script>
  <script type="text/template"></script>
  <script type="text/template"></script>
  <script type="text/template"></script>
  <script type="text/template"></script>
  <script type="text/template"></script>

</head>
<body>

<%= yield %>

</body>
</html>
